<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>DoctorSpin</title>
  <link rel="stylesheet" href="/static/css/Style.css"/>
</head>
<body>
  <section class="welcome-section">
    <div class="welcome-box">
      <h1>Welcome to DoctorSpin</h1>
      <p>
        Welcome aboard! At DoctorSpin, we're here to help you keep an eye on your
        vehicle's tire health with ease.
      </p>
      <div class="button-container">
        <button class="main-btn" onclick="window.location.href='/register'">
          Get Started
        </button>
        <a href="/login" class="login-link">Already have an account?</a>
      </div>
    </div>
    <div class="down-container">
      <div class="down-button">↓</div>
      <div class="down-text">What are we doing here exactly?!</div>
    </div>
  </section>

  <section class="carousel-section">
    <div class="carousel-container">
      <div class="carousel-box active">
        <h2>Why Tire Health Matters</h2>
        <p>
          Ever wondered why tire maintenance is crucial? Keeping your tires in top
          shape ensures safer journeys and can save you money by extending their
          lifespan.
        </p>
      </div>
      <div class="carousel-box">
        <h2>How It Works</h2>
        <p>
          Here's how simple it is: Snap a photo of your tire, upload it to our app,
          and voilà! You'll get an instant health report.
        </p>
      </div>
      <div class="carousel-box">
        <h2>Benefits of Using Our App</h2>
        <p>
          With our app, you'll stay informed about your tires' condition, plan timely
          check-ups, and enjoy peace of mind on every drive.
        </p>
      </div>
      <div class="carousel-box">
        <h2>User-Friendly Experience</h2>
        <p>
          We've designed our app to be super intuitive. No technical jargon, just
          straightforward steps to check your tire health.
        </p>
      </div>
      <div class="carousel-box">
        <h2>Get Started Today</h2>
        <p>
          Ready to hit the road with confidence? Download the app now and take the
          first step towards safer, more efficient driving.
        </p>
        <button class="main-btn smaller" onclick="window.location.href='/register'">
          Get Started
        </button>
      </div>
      <div class="nav-button prev">←</div>
      <div class="nav-button next">→</div>

      <div class="step-indicator">
        <div class="step-dot active"></div>
        <div class="step-dot"></div>
        <div class="step-dot"></div>
        <div class="step-dot"></div>
        <div class="step-dot"></div>
      </div>
    </div>
  </section>

  <script type="module" src="/static/js/Script.js"></script>
</body>
</html>
